.container_principal{
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center ;
    justify-content: center;
    flex-direction: column;
    background-image:
    url(../../../public/imagem-de-fundo-projeto.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    height: auto;

}
.container_card{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    padding: 20px;
    max-width: 600px;
    width: 100%;
    min-height: 80px;
    background-color: white;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    border: 1px solid #ccc;
    border-radius: 10px;
    flex-wrap: wrap;
    gap: 1;
    margin-top: 40px;
}
.h1{
    font-family: 'Cinzel', serif;
    font-size: 30px;
    color: #374B6A;
}
.informarcao_card{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
}
.titulo_card{
    font-size: 20px;
    margin-bottom: 15px;
}
.container_ess{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
    gap: 55px;
}
.ess_container{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.p_ess{
   font-size: 18px;
   margin-left: 8px;
   font-family: 'Inter', sans-serif;
}
.contaier_ess_colum{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.dinheiro{
    font-size: 20px;
    margin-bottom: 15px;
    font-family: 'Inter', sans-serif;
    color: #374B6A;
}
.container_lista {
  margin-top: 40px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
}

.titulo_lista {
  font-size: 22px;
  margin-bottom: 15px;
}

.tabela {
  width: 100%;
  border-collapse: collapse;
}

.tabela th, .tabela td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}

.tabela th {
  background-color: #f3f3f3;
  font-weight: bold;
}
.tabela button {
    background-color: #2c3e50;
}

form {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  max-width: 580px;
  width: 100%;
  margin-top: 10px;
  height: 345px;
  gap: 30px;
}

form input,
form select {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 550px;
  width: 100%;
}

form button {
  padding: 10px;
  background-color: #374B6A;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  max-width: 550px;
  width: 100%;
}

form button:hover {
  background-color: #2c3e50;
}

.tabela td button {
  margin-right: 5px;
  padding: 4px 8px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.tabela td button:first-child {
  background-color: 
}
.relatorios{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: 100%;
}