.adminContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
    padding: 10px;
    width: 100%;
    min-height: 100vh;
    background:linear-gradient(#54B7D7,#D2691E)
}

.card {
  background: #fff;
  padding: 1.2rem;
  border-radius: 8px;
  margin-bottom: 1rem;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

.card h3 {
  margin-bottom: 0.5rem;
}

.card p {
  margin: 0.3rem 0;
}
