html, body {
  height: 100%;
  margin: 0;
}

.layout {
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1; /* Isso faz com que o conteúdo cresça e empurre o rodapé para o fim */
  background-color: black;
}